body {
background-color: #6f014b;
color: #e4f65b;
font-family: Helvetica, sans-serif;
font-size: 2.5em;
}

button {
  background-color: #ccc;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius:6px;
 color: #fff;
 font-family: 'Oswald';
 font-size: 2.5em;
 text-decoration: none;
 cursor: poiner;
  border:none;
}
